.search-bar-container {
    width: 100%;
    position: relative;
    padding-bottom: 50px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
  }
  
  .search-input {
    width: 33.33%;
  }
  
  .suggestions-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 33.33%;
    align-items: center;
  }
  
  .suggestions-list li {
    cursor: pointer;
  }
  
  .suggestions-list li:hover {
    color: #88b09d;
  }